.canvas-relative {
  position: relative;
}

.canvas {
  border: 1px ridge lightgrey;
  cursor: pointer;
}

.rigth-toolbar {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 100px;
}
