{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-undef": "warn",
    "quotes": [2, "single", { "avoidEscape": true }],
    "jsx-a11y/label-has-for": 0,
    "radix": 0
  },
  "overrides": {
    "files": ["**/*.tsx"],
    "parser": "typescript-eslint-parser",
    "rules": {
      "no-undef": "off"
    }
  }
}
